<header>
  <div class="jumbo-text">
    <h1>Natalie Smith</h1>
    <p>Full-Stack Developer</p>
  </div>
</header>

<section class="about">
  <div class="row">
    <h2>Who am I?</h2>
  </div>
  <div class="row">
    <div class="about-info">
      <div><i class="ion-university"></i></div>
      <p>I am a recent graduate of the University of Victoria with a B.Eng in Biomedical Engineering</p>
    </div>
  </div>
  <div class="row">
    <div class="about-info">
      <div><i class="ion-ios-monitor-outline"></i></div>
      <p>I am passionate about developing web applications that have <span class="purple">functional</span>
          backends and <span class="purple">clean, user-friendly and responsive</span> front ends</p>
    </div>
  </div>
  <div class="row">
    <div class="about-info">
      <div><i class="ion-ios-location-outline"></i></div>
      <p>I am located in beautiful Victoria, BC, Canada</p>
    </div>
  </div>
</section>

<section class="section-photos">
  <ul class="photo-list">
    <li>
      <figure class="photo">
      <%= image_tag "1.jpg" %>
      </figure>
    </li>
    <li>
      <figure class="photo">
        <%= image_tag "6.jpg" %>
      </figure>
    </li>
    <li>
      <figure class="photo">
        <%= image_tag "3.jpg" %>
      </figure>
    </li>
    <li>
      <figure class="photo">
        <%= image_tag "4.jpg" %>
      </figure>
    </li>
    <li>
      <figure class="photo">
        <%= image_tag "5.jpg" %>
      </figure>
    </li>
  </ul>
  <ul class="photo-list">
    <li>
      <figure class="photo">
        <%= image_tag "7.jpg" %>
      </figure>
    </li>
    <li>
      <figure class="photo">
        <%= image_tag "17.jpg" %>
      </figure>
    </li>
    <li>
      <figure class="photo">
        <%= image_tag "13.jpg" %>
      </figure>
    </li>
    <li>
      <figure class="photo">
        <%= image_tag "10.jpg" %>
      </figure>
    </li>
    <li>
      <figure class="photo">
        <%= image_tag "11.jpg" %>
      </figure>
    </li>
  </ul>
  <ul class="photo-list">
    <li>
      <figure class="photo">
        <%= image_tag "18.jpg" %>
      </figure>
    </li>
    <li>
      <figure class="photo">
        <%= image_tag "19.jpg" %>
      </figure>
    </li>
    <li>
      <figure class="photo">
        <%= image_tag "23.jpg" %>
      </figure>
    </li>
    <li>
      <figure class="photo">
        <%= image_tag "24.jpg" %>
      </figure>
    </li>
    <li>
      <figure class="photo">
        <%= image_tag "22.jpg" %>
      </figure>
    </li>
  </ul>
  <div class="clearfix"></div>
</section>

<section class="skills">
  <div class="row">
    <h2>My Skills</h2>
  </div>
  <div class="row">
    <div class="col span-1-of-2">
      <div class="skills-info">
        <div><i class="ion-ios-bolt-outline"></i><i class="ion-ios-bolt-outline"></i></div>
        <p>Ruby on Rails</p>
      </div>
      <div class="skills-info">
        <div><i class="ion-ios-bolt-outline"></i><i class="ion-ios-bolt-outline"></i></div>
        <p>C/C++</p>
      </div>
      <div class="skills-info">
        <div><i class="ion-ios-bolt-outline"></i><i class="ion-ios-bolt-outline"></i></div>
        <p>MySQL</p>
      </div>
      <div class="skills-info">
        <div><i class="ion-ios-bolt-outline"></i><i class="ion-ios-bolt-outline"></i></div>
        <p>HTML5</p>
      </div>
      <div class="skills-info">
        <div><i class="ion-ios-bolt-outline"></i><i class="ion-ios-bolt-outline"></i></div>
        <p>CSS3</p>
      </div>
      <div class="skills-info">
        <div><i class="ion-ios-bolt-outline"></i><i class="ion-ios-bolt-outline"></i></div>
        <p>Javascript</p>
      </div>
      <div class="skills-info">
        <div><i class="ion-ios-bolt-outline"></i><i class="ion-ios-bolt-outline"></i></div>
        <p>jQuery</p>
      </div>
    </div>
    <div class="col span-1-of-2">
      <div class="skills-info">
        <div><i class="ion-ios-bolt-outline"></i><i class="ion-ios-bolt-outline"></i></div>
        <p>Angular2</p>
      </div>
      <div class="skills-info">
        <div><i class="ion-ios-bolt-outline"></i><i class="ion-ios-bolt-outline"></i></div>
        <p>JSON/XML</p>
      </div>
      <div class="skills-info">
        <div><i class="ion-ios-bolt-outline"></i><i class="ion-ios-bolt-outline"></i></div>
        <p>SASS</p>
      </div>
      <div class="skills-info">
        <div><i class="ion-ios-bolt-outline"></i><i class="ion-ios-bolt-outline"></i></div>
        <p>Responsive Design</p>
      </div>
      <div class="skills-info">
        <div><i class="ion-ios-bolt-outline"></i><i class="ion-ios-bolt-outline"></i></div>
        <p>Version Control</p>
      </div>
      <div class="skills-info">
        <div><i class="ion-ios-bolt-outline"></i><i class="ion-ios-bolt-outline"></i></div>
        <p>Matlab</p>
      </div>
      </div>
    </div>
  </div>
</section>

<section class="section-contact">
  <div class="row">
    <h2>Contact Me!</h2>
  </div>
  <div class="row">
    <div class="col span-1-of-3 right">
      <div><i class="ion-ios-email"></i></div>
    </div>
    <div class="col span-2-of-3 left">
      <p>nataliemegans@gmail.com</p>
    </div>
  </div>
  <div class="row">
    <div class="col span-1-of-3 right">
      <div><i class="ion-ios-telephone"></i></div>
    </div>
    <div class="col span-2-of-3 left">
      <p>1 (250) 216-8268</p>
    </div>
  </div>

  <ul class="social-icons">
    <li><a href="https://www.facebook.com/nataliemsmith"><i class="ion-social-facebook"></i></a></li>
    <li><a href="https://twitter.com/natalie_megan"><i class="ion-social-twitter"></i></a></li>
    <li><a href="https://www.instagram.com/nataliemegans/?hl=en"><i class="ion-social-instagram"></i></a></li>
    <li><a href="https://www.linkedin.com/in/smithnm/"><i class="ion-social-linkedin"></i></a></li>
    <li><a href="https://github.com/natmegs"><i class="ion-social-github"></i></a></li>
  </ul>
</section>
